In [1]:
import pandas as pd
import mysql.connector


con=mysql.connector.connect(host="localhost",user="root",password="Hari9940877985",database="School")
if con:
    print("SUCCESSFULLY CONNECTED")
else:
    print("NOT CONNECTED")

SUCCESSFULLY CONNECTED

In [2]:
class register(pd.DataFrame):
    def __init__(self):
        super(register,self).__init__()
        self.dataframe=pd.DataFrame
        
    def insert(self,name,age,city):
        wire=con.cursor()
        sql="insert into Registration (name,age,city) values(%s,%s,%s)"
        gett =(name,age,city)
        wire.execute(sql,gett)
        con.commit()
        print("successfully inserted")

    def update(self,name,age,city,id):
        wire = con.cursor()
        sql = "update Registration set name=%s,age=%s,city=%s where id_no =%s"
        gett = (name,age,city,id)
        wire.execute(sql,gett)
        con.commit()
        print("successfully updated")
    def select(self,id):
        wire = con.cursor()
        sql = "select * from Registration"
        wire.execute(sql)
        result =wire.fetchall()
        print(self.dataframe(result,columns=["ID","NAME","AGE","CITY"]))
    def delete(self,id):
        wire = con.cursor()
        sql="delete from Registration where id_no=%s"
        wire.execute(sql,(id,))
        con.commit()
        print("successfully deleted")

In [3]:
school=register() # initialise the class

In [4]:
print("-"*60)
print("                    XYZ SCHOOL REGISTRATION DATABASE                                         ")
print("-"*60)

while True:
    print("""--------------------------------------------------------------------------------------------
            please enter the numbers 1 to 4
                1.insert the data
                2.update the data
                3.select the data
                4.delete the data""")

    number=int(input())

    if number==1:
            name=input("enter the name")
            age = int(input("enter the age"))
            city = input("enter the city")
            school.insert(name,age,city)

    elif number ==2:
            id = input("enter the id")
            name = input("enter the name")
            age = int(input("enter the age"))
            city = input("enter the city")
            school.update(name,age,city,id)

    elif number ==3:
         school.select(id)

    elif number ==4:
        id = int(input("enter the id"))
        school.delete(id)
    else:
         break
print ("THANK YOU VISIT AGAIN")

------------------------------------------------------------
                    XYZ SCHOOL REGISTRATION DATABASE
------------------------------------------------------------
--------------------------------------------------------------------------------------------
            please enter the numbers 1 to 4
                1.insert the data
                2.update the data
                3.select the data
                4.delete the data
3
   ID        NAME  AGE          CITY
0   1   Hariharan   23         Erode
1   2  Srinivasan   23      Namakkal
2   3     Kabilan   35        Ramnad
3   4         Bai   30  Thirunelveli
4   5       Vicky   28      Anthiyur
--------------------------------------------------------------------------------------------
            please enter the numbers 1 to 4
                1.insert the data
                2.update the data
                3.select the data
                4.delete the data
5
THANK YOU VISIT AGAIN

In [5]:
con.close()